# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# Semantic-ui
/public/semantic/dist/components/
/public/semantic/src/
/public/semantic/tasks/
/public/semantic/gulpfile.js
/public/semantic/dist/semantic.css
/public/semantic/dist/semantic.js
/public/semantic/dist/themes/github/
/public/semantic/dist/themes/material/