<div class="ui stackable four cards">
    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

     <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

     <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

     <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

     <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

     <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>
                        
    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

     <div class="ui card">
        <div class="content">
            <div class="header">Trois Amigos</div>
            <div class="meta">
                <span class="right floated time">ouvert</span>
                <span class="category">Reataurant</span>
            </div>
            <div class="description">
                <p>Description / Photo</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> 1km
            </div>

            <div class="left floated author">
                Voir le menu
            </div>
        </div>
    </div>

</div>