<div id="nomoreline-app">
    <div class="ui top attached inverted teal menu">
        <a class="item">
            <i class="content large icon"></i>
        </a>
        <div class="item">
            <img src="../assets/images/logo.png">
        </div>
        <div class="right menu">
            <a class="active item">HOME</a>
            <a class="item">SIGN IN</a>
            <a class="ui item">SIGN UP</a>
            <a class="item">ABOUT US</a>
            <div class="ui dropdown item">
                LANGUAGE <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="fr">
                        <i class="fr flag"></i>French
                    </div>
                    <div class="item" data-value="gb">
                        <i class="gb flag"></i>English
                    </div>
                </div>
            </div>
            <a class="item">
                <i class="search icon"></i>
            </a>
        </div>
    </div>

    <div class="ui bottom attached segment pushable">
        <div class="ui inverted teal labeled icon left inline vertical sidebar menu">
            <a class="item">
                <i class="home icon"></i> Home
            </a>
            <a class="item">
                <i class="block layout icon"></i> Settings
            </a>
            <a class="item">
                <i class="calendar icon"></i> History
            </a>
        </div>

        <div class="ui inverted teal labeled right vertical sidebar menu" style="padding: 5px;">
            <div class="ui segment">
                <div class="ui large fluid icon input">
                    <input type="text" placeholder="search">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="ui segment">
                <div class="grouped fields">
                    <label>Categories:</label>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="category" checked="checked">
                            <label>Restaurants</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="category" checked="checked">
                            <label>Baber Shops</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="category" checked="checked">
                            <label>Special Events</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="category" checked="checked">
                            <label>Others</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment">
                <label>Type of food:</label>
                <div class="ui fluid selection dropdown">
                    <i class="dropdown icon"></i>
                    <span class="default text">Select Type</span>
                    <div class="menu">
                        <div class="item">
                            <i class="attention right floated icon"></i> Important
                        </div>
                        <div class="item">
                            <i class="comment right floated icon"></i> Announcement
                        </div>
                        <div class="item">
                            <i class="conversation right floated icon"></i> Discussion
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment">
                <label>Near to:</label>
                <div class="ui fluid selection dropdown">
                    <i class="dropdown icon"></i>
                    <span class="default text">Near to</span>
                    <div class="menu">
                        <div class="item">
                            <i class="attention right floated icon"></i> Important
                        </div>
                        <div class="item">
                            <i class="comment right floated icon"></i> Announcement
                        </div>
                        <div class="item">
                            <i class="conversation right floated icon"></i> Discussion
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment">
                <label>Sort by:</label>
                <div class="ui middle aligned animated list">
                    <div class="item link">
                        <img class="ui avatar image" src="../assets/images/location_32.png">
                        <div class="content">
                            <div class="header">Name</div>
                        </div>
                    </div>
                    <div class="item link">
                        <img class="ui avatar image" src="../assets/images/location_32.png">
                        <div class="content">
                            <div class="header">Price</div>
                        </div>
                    </div>
                    <div class="item link">
                        <img class="ui avatar image" src="../assets/images/location_32.png">
                        <div class="content">
                            <div class="header">Location</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pusher ">
            <nomoreline-home></nomoreline-home>
            <!--<nomoreline-company-details></nomoreline-company-details>-->
        </div>
    </div>
</div>